<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie List</title>
</head>
<body>
  <h1>Movie List</h1>
  <ul>
    <% if (Array.isArray(movies)) { %>
      <% movies.forEach(movie => { %>
        <li>
          <a href="/movies/<%= movie.id %>">
            <%= movie.attributes.title %>
          </a>
        </li>
      <% }); %>
    <% } else { %>
      <li>No movies available</li>
    <% } %>
  </ul>
</body>
</html>